#btn {
    max-width:100%;
    height:auto;
    size: 300;
}

html {
    background-color: rgb(100, 253, 100);
}
p {
    size: 50px;
}

#version {
    position: fixed;
    bottom: 0px;
    width: 50%;
    right: 100px;
    color: rgb(50, 129, 50);
}