

html {
    background-color: rgb(100, 253, 100);
    
}


#version {
    position: fixed;
    bottom: 0px;
    width: 50%;
    right: 100px;
    color: rgb(50, 129, 50);
    font-family: Consolas,monaco,monospace;
}


#zeros {
    font-family: 'Atkinson Hyperlegible';
    font-size: 15px;
}

.sectionLeft {
    float: left;
    width: 80%;
}

.sectionRight {
    float: right;
    width: 20%;
}

.plantsContainer {
    background-color: rgb(27, 160, 28);
    color: rgb(100, 253, 100);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-size: 24;
    
}

.clickerContainer img {
    position: relative;
    transition: all .2s ease-in-out;
}


.clickerContainer img:hover { transform: scale(1.10); }

.clickerContainer img:active { transform: scale(0.99); }


.shopButton {
    background-color: rgb(65, 180, 65);
    transition: all .2s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0px 10px 0px;
}

.shopButton:hover {
    background-color: rgb(77, 204, 77);
    transition: all .2s ease-in-out; 
}


.shopButton #image {
    width: 25%;
} 

.shopButton img {
    height: 64px;
    width: 64px;
}

.shopButton #nameAndCost p {
    margin: 0px;
    width: 60%;
    color: rgb(100, 255, 100);
}

.shopButton #nameAndCost p:first-of-type {
    font-size: 24px;
}

.shopButton #amount {
    font-size: 48px;
    color: rgb(100, 255, 100);
    font-family: roboto;
    width: 15%;
}


#news {
    right: 50px;
    bottom: 0px;
    width: 25%;
    color: rgb(30, 78, 30);
    font-family: 'Atkinson Hyperlegible';
}

.unselcetable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#upgradeContainer img {
    height: 64px;
    width: 64px;
}

#achievementContainer img {
    height: 64px;
    width: 64px;
    background-color: rgb(62, 185, 62);
}

#right {
    font-family: 'Atkinson Hyperlegible';
    font-size: 15px;
    background-color: rgb(27, 160, 28);
    color: rgb(100, 253, 100);
    width: 70%;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
}