#btn {
    max-width:100%;
    height:auto;
    size: 300;
}

html {
    background-color: rgb(100, 253, 100);
}


#version {
    position: fixed;
    bottom: 0px;
    width: 50%;
    right: 100px;
    color: rgb(50, 129, 50);
}

.text {
    color: rgb(75, 224, 75);
    size: 50px;
    background-color: rgb(63, 161, 63);
    width: 50%;
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
    
}

